.ol-control {
    left: unset;
    right: .5em;
}
.ol-legend {
    top: 64px;
}
.ol-legend>button {
    padding-bottom: 5px;
}
/* .ol-legend-button {
    background-position: center;
    background-repeat: no-repeat;
} */
